$heading-font-family: "Sabon_roman", "Arial", "Helvetica", sans-serif;

@font-face {
  font-family: 'Sabon_bold';
  src: url('../fonts/Sabon_Bold/SabonLTStd-Bold.eot');
  src: local('â˜º'), url('../fonts/Sabon_Bold/SabonLTStd-Bold.woff') format('woff'), url('../fonts/Sabon_Bold/SabonLTStd-Bold.ttf') format('truetype'), url('../fonts/Sabon_Bold/SabonLTStd-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sabon_bold_italic';
  src: url('../fonts/Sabon_Bold_Italic/SabonLTStd-BoldItalic.eot');
  src: local('â˜º'), url('../fonts/Sabon_Bold_Italic/SabonLTStd-BoldItalic.woff') format('woff'), url('../fonts/Sabon_Bold_Italic/SabonLTStd-BoldItalic.ttf') format('truetype'), url('../fonts/Sabon_Bold_Italic/SabonLTStd-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sabon_italic';
  src: url('../fonts/Sabon_Italic/SabonLTStd-Italic.eot');
  src: local('â˜º'), url('../fonts/Sabon_Italic/SabonLTStd-Italic.woff') format('woff'), url('../fonts/Sabon_Italic/SabonLTStd-Italic.ttf') format('truetype'), url('../fonts/Sabon_Italic/SabonLTStd-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sabon_roman';
  src: url('../fonts/Sabon_Roman/SabonLTStd-Roman.eot');
  src: local('â˜º'), url('../fonts/Sabon_Roman/SabonLTStd-Roman.woff') format('woff'), url('../fonts/Sabon_Roman/SabonLTStd-Roman.ttf') format('truetype'), url('../fonts/Sabon_Roman/SabonLTStd-Roman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima_Nova_reg';
  src: url('../fonts/Proxima_Regular/Proxima_Nova_reg.eot');
  src: local('â˜º'), url('../fonts/Proxima_Regular/Proxima_Nova_reg.woff') format('woff'), url('../fonts/Proxima_Regular/Proxima_Nova_reg.ttf') format('truetype'), url('../fonts/Proxima_Regular/Proxima_Nova_reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}