/* Content
*******************************/
//colors
$font-color: #000;

//fonts
.content-main {
  position: relative;
  padding-top: 86px;
  flex: 1;
  .back-to-cat {
    position: absolute;
    left: 0;
    top: -140px;
    a {
      color: $font-color;
      font-family: $heading-font-family;
      font-style: italic;
      font-size: 14px;
      h6 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0;
      }
      i {
        position: relative;
        transition: 0.3s;
        left: 0;
      }
      &:hover i {
        left: -5px;
      }
    }
  }
  .page-title h2 {
    font-family: $heading-font-family;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 100px 0;
    text-align: center;
  }
}