/* Contact Page
*******************************/
section.contact {
  padding-bottom: 70px;
  margin-bottom: 20px;
}
section.contact .inner-wrapper {
  margin-top: 65px;
}
section.contact .inner-wrapper .col-left {
  float: left;
  width: 37%;
  max-width: 505px;
  margin-right: 5%;
  padding-top: 5px;
}
section.contact .inner-wrapper .col-left h2 {
  font-family: $heading-font-family;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 50px;
}
section.contact .inner-wrapper .col-left .description-author {
  font-size: 14px;
  font-family: $heading-font-family;
  line-height: 26px;
  margin-bottom: 35px;
}
section.contact .inner-wrapper .col-left .description-author a {
  display: block;
  font-family: $heading-font-family;
  font-style: italic;
  font-size: 14px;
  color: #000;
  text-decoration: underline;
}
section.contact .inner-wrapper .col-left .description-represent {
  font-family: $heading-font-family;
  font-size: 14px;
  line-height: 26px;
}
section.contact .inner-wrapper .col-left .description-represent ul {
  list-style-type: none;
  margin-top: 25px;
}
section.contact .inner-wrapper .col-left .description-represent ul li {
  float: left;
  width: 45%;
}
section.contact .inner-wrapper .col-left .description-represent ul li:nth-child(2n) {
  margin-left: 10%;
}
section.contact .inner-wrapper .col-left .description-represent ul li h4 {
  font-family: $heading-font-family;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 25px;
}
section.contact .inner-wrapper .col-left .description-represent ul li a {
  font-family: $heading-font-family;
  font-style: italic;
  color: #000;
  display: block;
}
section.contact .inner-wrapper .col-left .description-represent ul li a.email {
  text-decoration: underline;
}
section.contact .inner-wrapper .col-right {
  float: left;
  max-width: 785px;
  width: 58%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0 20px;
}
section.contact .inner-wrapper .col-right figure {
  width: 100%;
  height: 525px;
  line-height: 525px;
  vertical-align: middle;
  text-align: center;
}
section.contact .inner-wrapper .col-right figure img {
  max-width: 100%;
  height: inherit;
}