---
layout: default
index: true
sidebar: true

---


<section id="homepage" class="homepage">
    <div class="inner-wrapper">

        ${ include "all_tags.html" }

        <div id="galleryContainer" class="content">
            <ul class="home-gallery cf">
                <% page.posts.each { post-> %>
                    <li class="item ${post.frontImage.type}">
                        ${ include "album.html", post + [preview: true] }
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</section>




