---
layout: default
single: true
---

<%
    def postedOn = page.date

    final String monthFormat = 'MMM'
    final String yearFormat = 'yyyy'
    final String dayFormat = 'dd'

    def hasNext = page.next_post != null
    def hasPrev = page.prev_post != null
%>

<div id="post" class="content">
    <article class="post">
        <section class="paginator">
            <div class="inner-wrapper cf">
                <div class="back-grid">
                    <a href="/archives/">Back to Grid</a>
                </div>
                <div class="post-control">
                    <% if (hasPrev) { %>
                        <a href="${link page.prev_post?.url}" rel="prev">Prev. Post</a>
                    <% } %>
                    <% if (hasPrev && hasNext) {%>
                        <span>/</span>
                    <% } %>
                    <% if (hasNext) { %>
                        <a href="${link page.next_post?.url}" rel="next">Next. Post</a>
                    <% } %>
                </div>
            </div>
        </section>

        <section class="full">

            <div class="inner-wrapper cf">
                <div class="title cf">
                    <div class="left-side">
                        <div class="title cf">
                            <span class="cat-name">
                                Category:
                                <% page.categories.each { cat -> %>
                                    <a href="/categories/${cat}">${cat}</a>
                                <% } %>
                            </span>
                            <h2>${page.title}</h2>
                            <time datetime="${xmlDateTime date: postedOn}">
                                <span class="month">${postedOn.format(monthFormat)}</span>
                                <span class="year">${postedOn.format(yearFormat)}</span>
                            </time>
                        </div>

                        <section class="story cf">
                            ${content}
                        </section>
                    </div>
                    <div class="right-side">
                        <ul>
                            <% page.photos.each { p-> %>
                            <li>
                                <figure>
                                    <img src="${r('/images/blogs/' + p.file)}" />
                                </figure>
                            </li>
                            <% } %>
                        </ul>
                    </div>

                </div>
            </div>

        </section>

        <section class="paginator">
            <div class="inner-wrapper cf">
                <div class="back-grid">
                    <a href="/archives/">Back to Grid</a>
                </div>
                <div class="post-control">
                    <% if (hasPrev) { %>
                        <a href="${link page.prev_post?.url}" rel="prev">Prev. Post</a>
                    <% } %>
                    <% if (hasPrev && hasNext) {%>
                        <span>/</span>
                    <% } %>
                    <% if (hasNext) { %>
                        <a href="${link page.next_post?.url}" rel="next">Next. Post</a>
                    <% } %>
                </div>
            </div>
        </section>
    </article>
</div>

<div class="blog-index on-post">
    <article class="hentry" role="article">
        ${include 'article.html', [content: content]}
    </article>
</div>