<script src="${r('/javascripts/article.js')}" type="text/javascript"></script>

<%
    def postedOn = page.date

    final String monthFormat = 'MMM'
    final String yearFormat = 'yyyy'
    final String dayFormat = 'dd'
%>

<% if (page.preview && 'portfolio' == page.layout) { %>
<figure>
    <img src="${r('/images/portfolio/' + page.name + '/' + page.frontImage.file)}"/>
    <a rel="full-article" href="${link page.url}">
        <span></span>
        View collection
    </a>
</figure>
<h3>
    <a href="${link page.url}" rel="full-article">
        ${titleCase title: page.title}
    </a>
</h3>

<time datetime="${xmlDateTime date: postedOn}">
    <span class="day">${postedOn.format(dayFormat)}</span>
    <span class="month">${postedOn.format(monthFormat)}</span>
    <span class="year">${postedOn.format(yearFormat)}</span>
</time>

<% } else if ('portfolio' == page.layout) { %>

<div class="gallery-single">
    <div class="inner-wrapper cf">
        <div class="inner-header cf">
            <div class="left-part">

          <span class="cat-name">
            Category: ${page.categories.collect { it.toString() }.join(', ') }
          </span>

                <h2>${page.title}</h2>

                <time datetime="${xmlDateTime date: postedOn}">
                    <span class="day">${postedOn.format(dayFormat)}</span>
                    <span class="month">${postedOn.format(monthFormat)}</span>
                    <span class="year">${postedOn.format(yearFormat)}</span>
                </time>

                <a class="go-back" href="/">Back</a>

            </div>
        </div>
        <div class="gallery-wrapper">
            <ul id="galleryContainer" class="gallery cf">
                <% page.photos.each { entry -> %>

                <li class="item ${entry.type}">
                    <%
                        def imgSrc = r('/images/portfolio/' + page.name + '/' + entry.file);
                    %>
                    <figure>
                        <img src="${imgSrc}"/>
                    </figure>
                    <a class="open-image" href="#" onclick="showPreview('${imgSrc}')"><span></span></a>
                </li>

                <% } %>
            </ul>
        </div>
    </div>

    <!--gallery overview-->
    <div id="overlayGallery" class="gallery-overlay" style="display: none;">
        <div class="inner-wrapper cf">
            <div class="left-part">
                <ul id="previewList" style="height: 761px;">
                    <li class="item landscape">
                        <figure>
                            <img src="">
                        </figure>

                        <a class="open-image" href="#">
                            <span></span>
                        </a>
                    </li>
                </ul>
                <a class="close-image" href="#">view all collection</a>
            </div>
            <div class="right-part">

                <span class="cat-name">
					Category: ${page.categories.join(', ')}
                </span>

                <h2>${page.title}</h2>

                <time datetime="${xmlDateTime date: page.date}">
                    <span class="day">${page.date.format(dayFormat)}</span>
                    <span class="month">${page.date.format(monthFormat)}</span>
                    <span class="year">${page.date.format(yearFormat)}</span>
                </time>

                <div class="gal-navigation">
                    <a href="#" onclick="prevImg()" class="prev nav"></a>
                    <a href="#" onclick="nextImg()" class="next nav"></a>
                </div>
                <div class="mobile">
                    <a class="close-image" href="#" onclick="closePreview()">view all collection</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% } %>